* {
  margin: 20px;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: silver;
}

/* FORM */

.formContainer {
  background-color: steelblue;
  border: rgb(57, 113, 158) 3px solid;
}
.formTitle {
  color: #d8e9ae;
  font-family: sans-serif;
}

.formLabel {
  display: block;
  margin: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}
.formLabel input {
  margin: 0px;
  width: 100%;
}
.formBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 28px;
  font-size: 16px;
  background-color: green;
  color: honeydew;
}
.formBtn:disabled {
  cursor: not-allowed;
  background-color: rgb(224, 35, 35);
}

.btnLink {
  display: block;
  margin: 0 auto;
  padding: 8px 22px;
  margin-bottom: 10px;
  border: 3px solid #bba71b;
  background: #dfce58;
  cursor: pointer;
  color: #766b19;
  transition: 0.5s;
}
.btnLink:hover,
.btnHome:hover {
  color: #dfce58;
  border-color: #dfce58;
  background: #766b19;
}
/*ADD PRODUCT FORM*/

#formAddProduct {
  height: 0;
  overflow: hidden;
  box-shadow: inset 0 0 13px 10px #9da5ad;
  transition: 0.5s ease-out;
}
#formAddProduct.fade-in {
  height: 100%;
  border: 2px solid #c1a0a0;
  padding: 20px 10px;
}
.formLabel input#phone{
  width: 95%;
}
#select-country{
  width: 4.3%;
  margin: 0;
}
.formLabel-products,
.formInput-products {
  font-size: 0;
  padding: 0;
  transition: 0.5s;
}

#formAddProduct.fade-in .formLabel {
  font-size: 16px;
}
#formAddProduct.fade-in .formInput {
  font-size: 14px;
}

#btnAddProduct {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: unset;
  color: #277ec9;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.4s;
}
#btnAddProduct:hover {
  color: #4c9171;
  text-shadow: 1px 0px 2px #449f39;
}

/* FAIL LOGIN */

.contenedorError {
  background-color: rgb(255 90 90);
  padding: 20px;
}
.errorText {
  color: white;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
}
.errorBtn {
  display: block;
  margin: 0 auto;
  padding: 8px 22px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: wheat;
  width: fit-content;
  color: brown;
  border: 2px brown solid;
  transition: 0.5s;
}
.errorBtn:hover {
  background-color: rgb(238, 181, 76);
  color: #b95b5b;
  border-color: #b95b5b;
  box-shadow: 0px 0px 9px 4px #c5c75e;
}

/* HOME */

.unlogContainer {
  margin: 0px;
  display: flex;
  align-items: center;
  background: #8b1313;
  color: papayawhip;
}
.logContainer {
  margin: 0px;
  display: flex;
  align-items: center;
  background: #88e68f;
  color: rgb(60, 112, 36);
}

.btnContainer {
  margin-left: auto;
  display: flex;
}

#containerCreateCart {
  margin: 0;
}

.btnHome {
  padding: 8px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 3px solid #bba71b;
  background: #dfce58;
  cursor: pointer;
  color: #766b19;
  transition: 0.5s;
}

/* PRODUCTS LIST */
.productsListContainer {
  margin: 0;
}
.contenedorProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: 15px;
  box-shadow: 0 0 0 1px #d3d3bf;
  padding: 10px;
}
.producto {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  margin: 20px 5px;
  padding: 10px;
  box-shadow: 0 0 10px 5px #958b8b;
}
.imgContainer {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  background-color: white;
}
.productoTextos {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.productoImagen {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
}
.productoTitulo {
  color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin: 10px 0;
}
.productoDescription {
  color: rgb(243, 227, 165);
  font-size: 18px;
  margin: 12px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.subcontenedorProducto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: auto;
}
.productoStock {
  color: gray;
  margin: 0;
}
.productoPrecio {
  color: darkgreen;
  text-align: right;
  font-size: 18px;
  margin: 0;
  margin-top: auto;
}

.verProductoLink {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin: 0%;
  transition: 0.5s;
}

.verProductoLink:hover {
  color: #8ac1db;
}

.contenedorBtnAdmin {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.deleteProductForm {
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.btnEditProduct {
  width: fit-content;
  background-color: beige;
  color: #1b51a3;
  padding: 10px 26px;
  border: 2px solid #1b51a3;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.btnEditProduct:hover {
  color: beige;
  background-color: #1b51a3;
  border-color: beige;
  box-shadow: 0 0 16px 3px #2f66bb;
}
.btnDeleteProduct {
  background-color: beige;
  color: #861f1c;
  padding: 10px 26px;
  border: 2px solid #861f1c;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}
.btnDeleteProduct:hover {
  color: beige;
  background-color: #861f1c;
  border-color: beige;
  box-shadow: 0 0 16px 3px #861f1c;
}
/*CartView*/

.cartContainer {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.productCartContainer {
  display: flex;
  flex-direction: row;
  background-color: #a6aad5;
  padding: 6px;
  margin: 10px;
}
.cartProductImgContainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 5px;
  overflow: hidden;
  background-color: white;
}
.cartProductImage {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
}
.cartProducts {
  max-width: 50%;
}
.productCartTextos {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.productCartMainText {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}
.productCartMainText p {
  margin: 5px;
}
.productCartTitle,
.productCartPrice,
.productCartStock {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  font-weight: 600;
  color: #a55f45;
}
.productCartForm {
  margin: 5px;
}
.cartLabel {
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
  font-weight: 600;
  color: #a55f45;
}
.inputQuantity {
  border-radius: 15px;
  text-align: center;
}
.productCartForm button {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  background-color: #a6aad5;
  color: #a55f45;
  border-radius: 15px;
  transition: 0.5s;
}
.productCartForm button:hover {
  background-color: #454972;
  color: #ce8f78;
  box-shadow: 0px 0px 8px 2px #00000082;
}
.cartItems {
  background-color: blanchedalmond;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px #a20fc1;
  width: 50%;
  margin: 29px;
  height: fit-content;
}
.cartItemContainer {
  display: flex;
  margin: 5px;
}
.cartItemImgContainer {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 5px;
}
.cartItemsTexts {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartItemsTexts p {
  margin: 5px;
}

.cartID {
  font-size: 22px;
  font-family: monospace;
  color: darkgreen;
  text-decoration: underline;
  text-align: center;
}
.cartValorTotal {
  font-size: 18px;
  font-family: sans-serif;
  color: #958b8b;
  text-align: end;
}
.btnBuy {
  padding: 8px 20px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: 3px solid #4c9171;
  background: #61a9cb;
  color: #ffffff;
  transition: 0.5s;
}
.btnBuy:hover {
  background-color: #4c9171;
  color: rgb(230, 209, 165);
  border-color: #61a9cb;
  box-shadow: 0px 0px 9px 4px #49504a;
}
/*Info Usuario*/

.titulo {
  color: #4c9171;
  font-size: 25px;
  font-family: sans-serif;
}
.userContainerImg {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 5px;
}
#userImg {
  width: 100%;
  height: auto;
  margin: 0px;
  border-radius: 10%;
  border: 5px solid #dfdbdb;
}
.userInfoContainer {
  display: flex;
  flex-direction: row;
}
.userText {
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.userContainerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PRODUCT VIEW */

.productViewContainer {
  margin: 20px auto;
  background-color: rgb(224, 214, 214);
  padding: 5px;
  display: flex;
  flex-direction: row;
}
#productViewImgContainer {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}
#productViewImg {
  max-width: 100%;
  max-height: 100%;
}

/* CHAT */

.chatLoggin {
  margin: 10px 20px;
  padding: 25px;
  border: 2px black solid;
  box-shadow: inset 0 0 10px black;
  background-color: whitesmoke;
}
.chatConteinerText {
  font-size: 16px;
  color: #49504a;
  font-family: sans-serif;
}
.chatConatiner {
  margin: 0;
  display: block;
  padding: 20px;
}

.chatList {
  height: 500px;
  max-height: 100vh;
  margin-bottom: 0;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #0000007a;
  box-shadow: inset 0px -5px 20px 6px #00000040;
  padding: 14px;
}
#chat-form,
#chatInputMessage,
#btnSendMessage {
  margin: 0;
}
#chat-form {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  box-sizing: content-box;
}
#chatInputMessage {
  border: 0;
  padding: 0.5rem;
  width: 90%;
}
#btnSendMessage {
  background-color: #80bd01;
  border: none;
  padding: 0.5rem;
  width: 9%;
  box-sizing: border-box;
}
.mensaje {
  margin: 10px;
  margin-bottom: 20px;
}
.mensajetext {
  display: inline-block;
  margin: 0;
}
.mensajetext--user {
  color: blue;
  font-weight: 600;
}
.mensajetext--date {
  color: brown;
}
.mensajetext--message {
  color: green;
  font-style: italic;
}
/*TICKET VIEW*/

/* .cartItemsTexts{
  display: flex;
  flex-direction: row;
} */


.cartItemImgContainer{
  width: 150px;
  height: 150px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cartItemImg{
  max-height: 100%;
  max-width: 100%;
}